<form class="add-form" action="" [formGroup]="uploadGroup">
  <div class="file">
    <h1>Upload file with .docx extension</h1>
    <button type="button" mat-raised-button (click)="fileInput.click()">Select file</button>
    <input hidden (change)="onFileSelected()" #fileInput type="file" id="file">
  </div>
  <div class="email">
    <p>Your email</p>
    <input type="text" placeholder="example@mail.com" formControlName="email">
  </div>
  <input type="submit" class="submit" (click)="onSubmit()" [disabled]="!uploadGroup.valid" value="SEND" [ngStyle]="!uploadGroup.valid && uploadGroup.dirty ? {'opacity': '.7'} : {}">
</form>

<div class="validation-messages">
  <ul>
    <li *ngIf="!fileInvalid">Upload file or select file with .docx type</li>
    <li *ngIf="email.errors?.['required']">Email is required</li>
  </ul>
</div>